@use "reset";

@mixin buttons($textColor: #fff, $bgColor: #00f) {
    color: $textColor;
    background-color: $bgColor;
    border: 0;
    padding: .5em 1em;
    text-decoration: none;
    

}

a {
    @include buttons(#fff, #00f);

    &:hover,
    &:focus,
    &:active {
        @include buttons(#00f, #fff);
    }

    &.sm {
        font-size: 0.875rem;
    }

    &.lg {
        font-size: 1.25rem;
    }
}

.btn {
    @include buttons(#fff, #000);

    &:hover,
    &:focus,
    &:active {
        @include buttons(#000, #fff);
    }

    &.sm {
        font-size: 0.875rem;
    }

    &.lg {
        font-size: 1.25rem;
    }
}

button {
    @include buttons(white, red);

    &:hover,
    &:focus,
    &:active {
        @include buttons (red, white);
    }

    &.sm {
        font-size: 0.875rem;
    }

    &.lg {
        font-size: 1.25rem;
    }
}