@use "reset";

/*
    Crează un mixin pentru butoane.
    Mixinul va primi 2 parametri:
        $textColor - pentru a seta culoarea textului
        $bgColor - pentru a seta culoarea
    
    La :hover, culorile se inversează

    Toate butoanele vor putea primi clasele .sm și .lg, care doar schimbă mărimea fontului la 0.875rem, respectiv 1.25rem.
    Aceste clase nu ar trebui să aibă efect dacă sunt folosite pe altceva decât butoane.

    în final, codul CSS generat ar trebui să fie asemănător cu ceea ce vezi în fișierul `rezultat.css`

    Limitări:
    - Nu ai voie să folosești variabile de CSS.
    - Nu ai voie să creezi clase noi

    Materiale de studiu:
    https://sass-lang.com/documentation/at-rules/mixin
    https://sass-lang.com/documentation/variables
    https://sass-lang.com/documentation/style-rules/parent-selector
*/

@mixin text-and-bcg-color($color, $bcg-color) {
  color: $color;
  background-color: $bcg-color;
}
a {
  @include text-and-bcg-color(#fff, #00f);
  &:hover {
    @include text-and-bcg-color(#00f, #fff);
  }
  &:focus {
    @include text-and-bcg-color(#00f, #fff);
  }
  &:active {
    @include text-and-bcg-color(#00f, #fff);
  }
}
.btn {
  @include text-and-bcg-color(#fff, #000);

  &:hover {
    @include text-and-bcg-color(#000, #fff);
  }
  &:focus {
    @include text-and-bcg-color(#000, #fff);
  }
  &:active {
    @include text-and-bcg-color(#000, #fff);
  }
}

button {
  @include text-and-bcg-color(#fff, red);
  cursor: pointer;
  border: 0;
  padding: 0.5em 1em;
  text-decoration: none;
  &:hover {
    @include text-and-bcg-color(red, #fff);
  }
  &:focus {
    @include text-and-bcg-color(red, #fff);
  }
  &:active {
    @include text-and-bcg-color(red, #fff);
  }
}
a,
.btn,
button {
  cursor: pointer;
  border: 0;
  padding: 0.5em 1em;
  text-decoration: none;
  &.sm {
    font-size: 0.875rem;
  }
  &.lg {
    font-size: 1.25rem;
  }
}
